*{
   
 margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.title{
    font-size: 30;
    color: rgb(67, 67, 163);
    text-align: center;
    margin-bottom: 60px;
    text-transform: uppercase;
}
header{
    width: 100%;
    height: 750px;

    background: #332c97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0e9bb1b3, hsl(8deg 69% 19% / 69%)),url(../images/portada.jpg);;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1b6577b3, hsl(8deg 69% 19% / 69%)),url(../images/portada.jpg);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color:black;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;


}
 #wave{
     width: 100%;
     bottom: 0;
     position: absolute;
     height: 260px;
 }
.text-header{
    display: flex;
    height: 430px;
     width: 100%;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     margin-top: 150px;
}
.text-header h1{
    font-size: 80px;
    font-weight: 30;
    color:#fff;

}
.text-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;

}
.container-about-us{

    display: flex;
    justify-content: space-evenly;

}
h2{
    color: #3175b0;
    font-weight: 300;
}
.image-about-us{
    width: 400px;
}

.image-us .container-text{
    width: 400;
}
 .container-text h3{
    margin-bottom: 50 px;

}
.content-text h3 span{
    background: #3559bbce;
    color:#fff;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow:  0 0 6px 0 rgba(53, 123, 133, 0.651);
    margin-right: 7px;
}

h3{
    color: #3175b0;
    /*text-transform: uppercase;*/
    font-weight: 300;
}
.content-text p{
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
    color: rgba(22, 126, 167, 0.678);
}
.container-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 60px;
    padding-bottom: 20px;
}
h1{
    color: #677988;
    /*text-transform: uppercase;*/
    font-weight: 300;

}
.gallery{
    width: 30%;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5;
    background: #FFF;  

    
    
}
.gallery > img{
    width: 50%;
    height: 50%;
    margin: auto;
    object-fit: cover;
    display: block;
}
.gallery >h3{
    font-size: 25px;
    margin-top: 30px;
    color: black;

}
.gallery > p{
    font-weight: 100;
    color: black;
    margin-top: 15px;
    padding-bottom: 20px;
}
.gallery >a{
    background:black;
    display: inline-block;
    width: 90px;

    text-align: center;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    
    
}
footer{
    background: #3660ad;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter img{
    width: 70%;
}

.partFooter h4{
    color:black;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}


